<h1><%= solo['artist'] %> - <%= solo['track'] %> </h1>

<div style="width: 560px; height: 360px">
<%= solo['youtube_url'] %>
</div>

<p>Genre: <%= solo['genre'] %></p>
<p>Year: <%= solo['year'] %></p>
<p>Soloist: <%= solo['soloist'] %></p>
<p>Instrument: <%= solo['instrument'] %></p>
<p>Solo at: <%= solo['solo_start'].chop.chop.chop %></p>








<p>Contributed by <%= user['username'] %></p>


<% if logged_in? && user_access(user['user_id']) %>

    <form action="/solo/<%= solo['post_id'] %>/edit" method="get">
    <input type="hidden" name="user_id" value="<%= user['user_id']%>">
        <Button>Edit</Button>
    </form>

    <form action="/solo/<%= solo['post_id'] %>" method="post">
    <input type="hidden" name="_method" value="delete">
        <button>Delete</button>
    </form>

<% end %>