<section class="genre-page">

    <h2>Browse: Soul/Funk</h2>

    <% soul_posts.each do |post| %>
            <div>
            <p><a href="/solo/<%= post['post_id'] %>"><%= post['artist']%> - <%= post['track'] %></a></p>
            </div>

        <% end %>

        <% funk_posts.each do |post| %>
            <div style="width: 200px">
            <p><a href="/solo/<%= post['post_id'] %>"><%= post['artist']%> - <%= post['track'] %></a></p>
            </div>

        <% end %>

</section>